.card {
  display: block;
  height: 450px;
  position: relative;
  width: 300px;
  margin-bottom: 60px;
}

.card .media {
  height: 200px;
  position: relative;
  width: 100%;
}

.card .video-modal {
  cursor: pointer;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 10;
}

.card video-js {
  z-index: 0;
}
