/* ------------------------------------ *\
  BOLT CSS CORE
\* ------------------------------------ */
/* stylelint-disable scss/at-function-pattern, scss/at-mixin-pattern */
/* ------------------------------------ *\
   English Specific Typography Styles
\* ------------------------------------ */
/* ------------------------------------ *\
   TOOLS - BREAKPOINT
\* ------------------------------------ */
/* ------------------------------------ *\
   Japanese Specific Typography Styles
\* ------------------------------------ */
/* ------------------------------------ *\
   Border Radius Scale
\* ------------------------------------ */
/* ------------------------------------ *\
  SETTINGS - COLORS
\* ------------------------------------ */
/* ------------------------------------ *\
  SETTINGS - COLORS
\* ------------------------------------ */
/* ------------------------------------ *\
  Color Palette
\* ------------------------------------ */
/* ------------------------------------ *\
  Opacity Scale
\* ------------------------------------ */
/* ------------------------------------ *\
  see `_settings-opacity.scss`
\* ------------------------------------ */
/* ------------------------------------ *\
   Global Settings
\* ------------------------------------ */
/* ------------------------------------ *\
   All block elements
\* ------------------------------------ */
/* ------------------------------------ *\
   All heading elements
\* ------------------------------------ */
/* ------------------------------------ *\
   Custom Element Global Settings
   used to collection names of custom
   elements.
\* ------------------------------------ */
/* ------------------------------------ *\
  Default Fallback + Custom Web Font Stacks
\* ------------------------------------ */
/*
 * Default Font Family Stacks
 */
/*
 * Custom web font stacks
 */
/*
 * Map font stack categories to Bolt's body, heading, and code.
 */
/* ------------------------------------ *\
   TOOLS - BREAKPOINT
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - Pixel to REM
\* ------------------------------------ */
/* ------------------------------------ *\
  Scale
\* ------------------------------------ */
/* ------------------------------------ *\
  SETTINGS - FONT WEIGHTS
\* ------------------------------------ */
/* ------------------------------------ *\
  SETTINGS - COLORS
\* ------------------------------------ */
/* ------------------------------------ *\
  Color Palette
\* ------------------------------------ */
/* ------------------------------------ *\
  Opacity Scale
\* ------------------------------------ */
/* ------------------------------------ *\
  see `_settings-opacity.scss`
\* ------------------------------------ */
/* ------------------------------------ *\
   Global Settings
\* ------------------------------------ */
/* ------------------------------------ *\
   All block elements
\* ------------------------------------ */
/* ------------------------------------ *\
   All heading elements
\* ------------------------------------ */
/* ------------------------------------ *\
   Custom Element Global Settings
   used to collection names of custom
   elements.
\* ------------------------------------ */
/* ------------------------------------ *\
  Opacity Scale
\* ------------------------------------ */
/* ------------------------------------ *\
  Language-specific quotation marks
\* ------------------------------------ */
/* ------------------------------------ *\
  SHADOW SETTINGS
  see _tools-shadow.scss
  see _utilities-shadow.scss
\* ------------------------------------ */
/* ------------------------------------ *\
   Spacing Maps
\* ------------------------------------ */
/**
 * Base value map
 * x: horizontal
 * y: vertical
 *
 * Base values are kept unitless to allow pure math in edge cases. For example, using `em` instead of `rem`:
 * calc(var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-medium) * 1em)
 */
/**
 * Base multiplier map
 */
/**
 * Spacing token maps
 *
 * Token values are kept as formulas so they can be updated by changing base values and multipliers alone.
 */
/**
 * Extra maps
 *
 * These are used for generating utility classes.
 */
/**
 * Export spacing data
 *
 * json files are available for use. Located in www/build/data
 */
/* ------------------------------------ *\
   Old Spacing Maps (deprecated)
\* ------------------------------------ */
/* ------------------------------------ *\
  Text Contrast
\* ------------------------------------ */
/* ------------------------------------ *\
   New Maps for CSS vars
\* ------------------------------------ */
/**
 * Typography token maps
 */
/**
 * Line height multiplier
 *
 * This are used for mathematically increasing or decreasing line-height for every single font-size.
 */
/**
 * Export typography data
 *
 * json files are available for use. Located in www/build/data
 */
/* ------------------------------------ *\
  see `_tools-z-index.scss`
  see `_utilities-z-index.scss`
\* ------------------------------------ */
/* ------------------------------------ *\
   TOOLS - BORDER RADIUS
   See map in `settings-border-radius`
\* ------------------------------------ */
/* ------------------------------------ *\
   TOOLS - BREAKPOINT
\* ------------------------------------ */
/* ------------------------------------ *\
Browser Support
\* ------------------------------------ */
/* ------------------------------------ *\
  Button Colors
\* ------------------------------------ */
/* ------------------------------------ *\
   TOOLS - BUTTON RESET
\* ------------------------------------ */
/* ------------------------------------ *\
  Text Clearfix
\* ------------------------------------ */
/* ------------------------------------ *\
  Color Palette
\* ------------------------------------ */
/* stylelint-disable */
/* Ported over from https://github.com/oddbird/sass-json-export and -disable */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable selector-type-no-unknown, scss/at-mixin-pattern */
/* stylelint-disable scss/at-function-pattern, scss/at-mixin-pattern */
/**
 * Credits to https://github.com/acss-io/atomizer/blob/master/src/lib/grammar.js
 */
/**
  * Helper functions for applying global color swatches stored in Sass Maps. See @settings-themes/index.scss
  * @param {map|...params} $props
  *   - Map values are printed json encoded straight to bolt-themify to be processed by webpack plugin postcss-themify
  *   - Other args generate a bolt-themify json-encoded map according to theme settings in `settings-themes/index.scss`
  */
/* ------------------------------------ *\
  Custom Element
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - FONT FACE
\* ------------------------------------ */
/* ==========================================================================
   #FONT-FACE
   ========================================================================== */
/* ------------------------------------ *\
  TOOLS - FONT FAMILY
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - FONT KERNING
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - FONT SIZE
\* ------------------------------------ */
/* ------------------------------------ *\
  Font weight
\* ------------------------------------ */
/* ------------------------------------ *\
   IE11 Only CSS
\* ------------------------------------ */
/* ------------------------------------ *\
   Inline Icon Wrapper
\* ------------------------------------ */
/**
 * Dev notes:
 * 1. Custom icons must be a square and the height must equal the text's font-size, hence 1em.
 * 2. Zero width no-break space is passed to the icon container's :before and :after pseudo elements, combine that with nowrap white-space on the icon container, and it will make sure that an icon never wraps to the next line by itself, it will always wrap with the final word of the text. See: https://codepen.io/mikemai2awesome/pen/OJXbqwe?editors=0100
 * 3. Temporary fix for icon + text bad vertical alignment.
*/
/* ------------------------------------ *\
  TOOLS - Linear Interpolation
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - LIST REMOVE
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - LIST SORT
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - MAP SORT
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - No Select
\* ------------------------------------ */
/* ------------------------------------ *\
  see `_settings-opacity.scss`
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - POLY SIZING
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - Pixel to REM
\* ------------------------------------ */
/* ------------------------------------ *\
  Repeat Rule
\* ------------------------------------ */
/* Ported over from https://github.com/oddbird/sass-json-export and -disable */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable selector-type-no-unknown, scss/at-mixin-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable selector-type-no-unknown, scss/at-mixin-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable selector-type-no-unknown, scss/at-mixin-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* ------------------------------------ *\
  SCROLLING HELPER MIXIN
\* ------------------------------------ */
/* ------------------------------------ *\
  SHADOW MIXIN
  see `_settings-shadow.scss`
\* ------------------------------------ */
/* ------------------------------------ *\
  Strip Unit
\* ------------------------------------ */
/* ------------------------------------ *\
  Text Contrast
\* ------------------------------------ */
/* ------------------------------------ *\
   TOOLS - Text Link
\* ------------------------------------ */
/* stylelint-disable */
/* Ported over from https://github.com/oddbird/sass-json-export and -disable */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable selector-type-no-unknown, scss/at-mixin-pattern */
/* stylelint-disable scss/at-function-pattern, scss/at-mixin-pattern */
/**
 * Credits to https://github.com/acss-io/atomizer/blob/master/src/lib/grammar.js
 */
/**
  * Helper functions for applying global color swatches stored in Sass Maps. See @settings-themes/index.scss
  * @param {map|...params} $props
  *   - Map values are printed json encoded straight to bolt-themify to be processed by webpack plugin postcss-themify
  *   - Other args generate a bolt-themify json-encoded map according to theme settings in `settings-themes/index.scss`
  */
/* ------------------------------------ *\
  UPPERCASE MIXIN
\* ------------------------------------ */
/* ------------------------------------ *\
  VISUALLY HIDDEN MIXIN
\* ------------------------------------ */
/* ------------------------------------ *\
  see `_settings-z-index.scss`
\* ------------------------------------ */
/* ------------------------------------ *\
  BOLT CSS CORE
\* ------------------------------------ */
/* stylelint-disable scss/at-function-pattern, scss/at-mixin-pattern */
/* ------------------------------------ *\
   English Specific Typography Styles
\* ------------------------------------ */
/* ------------------------------------ *\
   TOOLS - BREAKPOINT
\* ------------------------------------ */
/* ------------------------------------ *\
   Japanese Specific Typography Styles
\* ------------------------------------ */
/* ------------------------------------ *\
   Border Radius Scale
\* ------------------------------------ */
/* ------------------------------------ *\
  SETTINGS - COLORS
\* ------------------------------------ */
/* ------------------------------------ *\
  SETTINGS - COLORS
\* ------------------------------------ */
/* ------------------------------------ *\
  Color Palette
\* ------------------------------------ */
/* ------------------------------------ *\
  Opacity Scale
\* ------------------------------------ */
/* ------------------------------------ *\
  see `_settings-opacity.scss`
\* ------------------------------------ */
/* ------------------------------------ *\
   Global Settings
\* ------------------------------------ */
/* ------------------------------------ *\
   All block elements
\* ------------------------------------ */
/* ------------------------------------ *\
   All heading elements
\* ------------------------------------ */
/* ------------------------------------ *\
   Custom Element Global Settings
   used to collection names of custom
   elements.
\* ------------------------------------ */
/* ------------------------------------ *\
  Default Fallback + Custom Web Font Stacks
\* ------------------------------------ */
/*
 * Default Font Family Stacks
 */
/*
 * Custom web font stacks
 */
/*
 * Map font stack categories to Bolt's body, heading, and code.
 */
/* ------------------------------------ *\
   TOOLS - BREAKPOINT
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - Pixel to REM
\* ------------------------------------ */
/* ------------------------------------ *\
  Scale
\* ------------------------------------ */
/* ------------------------------------ *\
  SETTINGS - FONT WEIGHTS
\* ------------------------------------ */
/* ------------------------------------ *\
  SETTINGS - COLORS
\* ------------------------------------ */
/* ------------------------------------ *\
  Color Palette
\* ------------------------------------ */
/* ------------------------------------ *\
  Opacity Scale
\* ------------------------------------ */
/* ------------------------------------ *\
  see `_settings-opacity.scss`
\* ------------------------------------ */
/* ------------------------------------ *\
   Global Settings
\* ------------------------------------ */
/* ------------------------------------ *\
   All block elements
\* ------------------------------------ */
/* ------------------------------------ *\
   All heading elements
\* ------------------------------------ */
/* ------------------------------------ *\
   Custom Element Global Settings
   used to collection names of custom
   elements.
\* ------------------------------------ */
/* ------------------------------------ *\
  Opacity Scale
\* ------------------------------------ */
/* ------------------------------------ *\
  Language-specific quotation marks
\* ------------------------------------ */
/* ------------------------------------ *\
  SHADOW SETTINGS
  see _tools-shadow.scss
  see _utilities-shadow.scss
\* ------------------------------------ */
/* ------------------------------------ *\
   Spacing Maps
\* ------------------------------------ */
/**
 * Base value map
 * x: horizontal
 * y: vertical
 *
 * Base values are kept unitless to allow pure math in edge cases. For example, using `em` instead of `rem`:
 * calc(var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-medium) * 1em)
 */
/**
 * Base multiplier map
 */
/**
 * Spacing token maps
 *
 * Token values are kept as formulas so they can be updated by changing base values and multipliers alone.
 */
/**
 * Extra maps
 *
 * These are used for generating utility classes.
 */
/**
 * Export spacing data
 *
 * json files are available for use. Located in www/build/data
 */
/* ------------------------------------ *\
   Old Spacing Maps (deprecated)
\* ------------------------------------ */
/* ------------------------------------ *\
  Text Contrast
\* ------------------------------------ */
/* ------------------------------------ *\
   New Maps for CSS vars
\* ------------------------------------ */
/**
 * Typography token maps
 */
/**
 * Line height multiplier
 *
 * This are used for mathematically increasing or decreasing line-height for every single font-size.
 */
/**
 * Export typography data
 *
 * json files are available for use. Located in www/build/data
 */
/* ------------------------------------ *\
  see `_tools-z-index.scss`
  see `_utilities-z-index.scss`
\* ------------------------------------ */
/* ------------------------------------ *\
   TOOLS - BORDER RADIUS
   See map in `settings-border-radius`
\* ------------------------------------ */
/* ------------------------------------ *\
   TOOLS - BREAKPOINT
\* ------------------------------------ */
/* ------------------------------------ *\
Browser Support
\* ------------------------------------ */
/* ------------------------------------ *\
  Button Colors
\* ------------------------------------ */
/* ------------------------------------ *\
   TOOLS - BUTTON RESET
\* ------------------------------------ */
/* ------------------------------------ *\
  Text Clearfix
\* ------------------------------------ */
/* ------------------------------------ *\
  Color Palette
\* ------------------------------------ */
/* stylelint-disable */
/* Ported over from https://github.com/oddbird/sass-json-export and -disable */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable selector-type-no-unknown, scss/at-mixin-pattern */
/* stylelint-disable scss/at-function-pattern, scss/at-mixin-pattern */
/**
 * Credits to https://github.com/acss-io/atomizer/blob/master/src/lib/grammar.js
 */
/**
  * Helper functions for applying global color swatches stored in Sass Maps. See @settings-themes/index.scss
  * @param {map|...params} $props
  *   - Map values are printed json encoded straight to bolt-themify to be processed by webpack plugin postcss-themify
  *   - Other args generate a bolt-themify json-encoded map according to theme settings in `settings-themes/index.scss`
  */
/* ------------------------------------ *\
  Custom Element
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - FONT FACE
\* ------------------------------------ */
/* ==========================================================================
   #FONT-FACE
   ========================================================================== */
/* ------------------------------------ *\
  TOOLS - FONT FAMILY
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - FONT KERNING
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - FONT SIZE
\* ------------------------------------ */
/* ------------------------------------ *\
  Font weight
\* ------------------------------------ */
/* ------------------------------------ *\
   IE11 Only CSS
\* ------------------------------------ */
/* ------------------------------------ *\
   Inline Icon Wrapper
\* ------------------------------------ */
/**
 * Dev notes:
 * 1. Custom icons must be a square and the height must equal the text's font-size, hence 1em.
 * 2. Zero width no-break space is passed to the icon container's :before and :after pseudo elements, combine that with nowrap white-space on the icon container, and it will make sure that an icon never wraps to the next line by itself, it will always wrap with the final word of the text. See: https://codepen.io/mikemai2awesome/pen/OJXbqwe?editors=0100
 * 3. Temporary fix for icon + text bad vertical alignment.
*/
/* ------------------------------------ *\
  TOOLS - Linear Interpolation
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - LIST REMOVE
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - LIST SORT
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - MAP SORT
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - No Select
\* ------------------------------------ */
/* ------------------------------------ *\
  see `_settings-opacity.scss`
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - POLY SIZING
\* ------------------------------------ */
/* ------------------------------------ *\
  TOOLS - Pixel to REM
\* ------------------------------------ */
/* ------------------------------------ *\
  Repeat Rule
\* ------------------------------------ */
/* Ported over from https://github.com/oddbird/sass-json-export and -disable */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable selector-type-no-unknown, scss/at-mixin-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable selector-type-no-unknown, scss/at-mixin-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable selector-type-no-unknown, scss/at-mixin-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* ------------------------------------ *\
  SCROLLING HELPER MIXIN
\* ------------------------------------ */
/* ------------------------------------ *\
  SHADOW MIXIN
  see `_settings-shadow.scss`
\* ------------------------------------ */
/* ------------------------------------ *\
  Strip Unit
\* ------------------------------------ */
/* ------------------------------------ *\
  Text Contrast
\* ------------------------------------ */
/* ------------------------------------ *\
   TOOLS - Text Link
\* ------------------------------------ */
/* stylelint-disable */
/* Ported over from https://github.com/oddbird/sass-json-export and -disable */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable scss/at-function-pattern */
/* stylelint-disable selector-type-no-unknown, scss/at-mixin-pattern */
/* stylelint-disable scss/at-function-pattern, scss/at-mixin-pattern */
/**
 * Credits to https://github.com/acss-io/atomizer/blob/master/src/lib/grammar.js
 */
/**
  * Helper functions for applying global color swatches stored in Sass Maps. See @settings-themes/index.scss
  * @param {map|...params} $props
  *   - Map values are printed json encoded straight to bolt-themify to be processed by webpack plugin postcss-themify
  *   - Other args generate a bolt-themify json-encoded map according to theme settings in `settings-themes/index.scss`
  */
/* ------------------------------------ *\
  UPPERCASE MIXIN
\* ------------------------------------ */
/* ------------------------------------ *\
  VISUALLY HIDDEN MIXIN
\* ------------------------------------ */
/* ------------------------------------ *\
  see `_settings-z-index.scss`
\* ------------------------------------ */
.c-base-video {
  position: absolute;
  width: 100%;
  height: 100%;
}
.c-base-video video,
.c-base-video .vjs-big-play-button {
  cursor: pointer;
}
.c-base-video .vjs-big-play-button {
  opacity: 1;
  color: #001f5f;
  background-color: #ffc836;
  transition: all ease-in-out 200ms;
  box-shadow: 0 1px 4px 1px rgba(6, 10, 36, 0.1),
    0 5px 10px 0 rgba(6, 10, 36, 0.08);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: absolute;
  top: auto;
  right: auto;
  bottom: var(--bolt-spacing-y-xsmall);
  left: var(--bolt-spacing-x-xsmall);
  width: calc(1.2rem + 6%);
  height: calc(1rem + 6%);
  margin: 0;
  padding: 0;
  line-height: 1;
  border: none;
  border-radius: 3px;
}
.c-base-video .vjs-big-play-button .vjs-icon-placeholder {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 23%;
  height: 45%;
  background-color: #001f5f;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.c-base-video .vjs-big-play-button:hover,
.c-base-video .vjs-big-play-button:focus {
  opacity: 0.8;
  color: #001f5f;
  background-color: #ffc836;
  transition: all ease-in-out 200ms;
  box-shadow: 0 10px 20px 1px rgba(6, 10, 36, 0.1),
    0 24px 36px 1px rgba(6, 10, 36, 0.18);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.c-base-video .vjs-big-play-button:active {
  opacity: 0.6;
  color: #001f5f;
  background-color: #ffc836;
  transition: all ease-in-out 200ms;
}
.c-base-video:hover .vjs-big-play-button,
.c-base-video:focus .vjs-big-play-button {
  opacity: 0.8;
  color: #001f5f;
  background-color: #ffc836;
  transition: all ease-in-out 200ms;
  box-shadow: 0 10px 20px 1px rgba(6, 10, 36, 0.1),
    0 24px 36px 1px rgba(6, 10, 36, 0.18);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.c-base-video:active .vjs-big-play-button {
  opacity: 0.6;
  color: #001f5f;
  background-color: #ffc836;
  transition: all ease-in-out 200ms;
}
.c-base-video .vjs-poster {
  background-color: transparent;
}
.c-base-video .vjs-slider {
  background: rgba(255, 200, 54, 0.15);
}
.c-base-video .vjs-load-progress,
.c-base-video .vjs-load-progress div {
  background: rgba(255, 200, 54, 0.25);
}
.c-base-video .vjs-playlist-sidebar .vjs-playlist-show-hide button:hover,
.c-base-video .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected,
.c-base-video .vjs-play-progress,
.c-base-video .vjs-volume-level {
  background-color: #ffc836;
}
.c-base-video .vjs-modal-dialog {
  overflow: hidden;
  background: rgba(21, 22, 25, 0.9);
}
.c-base-video .vjs-modal-dialog .vjs-modal-dialog-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  overflow: auto;
  padding: var(--bolt-spacing-y-xsmall) 2.5rem var(--bolt-spacing-y-xsmall)
    var(--bolt-spacing-x-small);
  font-size: var(--bolt-type-font-size-medium);
  line-height: calc(
    var(--bolt-type-line-height-medium) *
      var(--bolt-type-line-height-multiplier-tight)
  );
}
@supports (display: flex) {
  .c-base-video .vjs-modal-dialog .vjs-modal-dialog-content {
    display: flex;
    justify-content: center;
  }
}
.c-base-video .vjs-modal-dialog .vjs-modal-dialog-content .vjs-social-title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
}
.c-base-video
  .vjs-modal-dialog
  .vjs-modal-dialog-content
  .vjs-social-description {
  margin-bottom: 0.5rem;
  font-size: var(--bolt-type-font-size-small);
  font-weight: var(--bolt-type-font-weight-bold);
  line-height: calc(
    var(--bolt-type-line-height-small) *
      var(--bolt-type-line-height-multiplier-tight)
  );
  white-space: nowrap;
}
.c-base-video
  .vjs-modal-dialog
  .vjs-modal-dialog-content
  .vjs-social-share-links {
  margin-right: -0.25rem;
  margin-left: -0.25rem;
  font-size: var(--bolt-type-font-size-small);
  line-height: calc(
    var(--bolt-type-line-height-small) *
      var(--bolt-type-line-height-multiplier-tight)
  );
}
.c-base-video
  .vjs-modal-dialog
  .vjs-modal-dialog-content
  .vjs-social-share-link {
  margin-bottom: 0.25rem;
}
.c-base-video
  .vjs-modal-dialog
  .vjs-modal-dialog-content
  .vjs-social-label-text {
  font-size: var(--bolt-type-font-size-xsmall);
}
.c-base-video
  .vjs-modal-dialog
  .vjs-modal-dialog-content
  .vjs-social-embed-code {
  display: none;
}
.c-base-video .vjs-modal-dialog .vjs-modal-dialog-content form {
  width: 100%;
  max-width: 40rem;
  margin: auto;
  font-family: var(--bolt-type-font-family-body);
}
.c-base-video
  .vjs-modal-dialog
  .vjs-modal-dialog-content
  form
  input[type="text"] {
  font-size: 16px;
}
.c-base-video .vjs-modal-dialog .vjs-modal-dialog-content form label {
  width: 100%;
  padding: 0;
}
.c-base-video .vjs-modal-dialog .vjs-modal-dialog-content form > * {
  margin-bottom: var(--bolt-spacing-y-xsmall);
}
.c-base-video .vjs-control.vjs-close-button {
  z-index: 10;
  width: 2.5rem;
  height: 2.5rem;
}
.c-base-video .vjs-control.vjs-close-button > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.c-base-video .vjs-control.vjs-close-button > *:before {
  position: relative;
  width: auto;
  height: auto;
  font-size: 1.4rem;
}
.c-base-video .vjs-overlay {
  opacity: 1;
  transition: opacity 0.2s ease;
}
.c-base-video .vjs-overlay--hidden {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.c-base-video .vjs-time-control {
  padding-right: 0;
  padding-left: 0;
  font-size: 1.5em;
  line-height: 2;
}
.c-base-video .vjs-time-divider {
  min-width: 1.2em;
}
.c-base-video .vjs-social-embed-code {
  display: none;
}
.c-base-video .vjs-modal-dialog-content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.c-base-video .vjs-social-overlay .vjs-social-direct-link {
  width: 100%;
  padding-right: 0;
}
.c-base-video .vjs-social-overlay .vjs-social-direct-link input {
  background-color: #fff;
}
.c-base-video .vjs-social-overlay .vjs-social-share-links a:focus,
.c-base-video .vjs-social-overlay .vjs-social-share-links a:hover {
  color: #fff;
}
.c-base-video .vjs-control {
  width: 2em;
}
@media (min-width: 25em) {
  .c-base-video .vjs-control {
    width: 3em;
  }
}
@media (min-width: 37.5em) {
  .c-base-video .vjs-control {
    width: 4em;
  }
}
.c-base-video .vjs-control.vjs-playback-rate {
  width: 4em;
}
.c-base-video .vjs-control.vjs-progress-control {
  width: 100%;
}
.c-base-video .vjs-time-tooltip {
  width: 40px;
}
.c-base-video .vjs-overlay-no-background {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 40px 9px;
  border-radius: 0;
  background-color: transparent;
}
.c-base-video .vjs-overlay-no-background.vjs-overlay-top,
.c-base-video .vjs-overlay-no-background.vjs-overlay-top-right,
.c-base-video .vjs-overlay-no-background.vjs-overlay-top-left {
  top: 0;
}
.c-base-video .vjs-overlay-no-background.vjs-overlay-bottom,
.c-base-video .vjs-overlay-no-background.vjs-overlay-bottom-right,
.c-base-video .vjs-overlay-no-background.vjs-overlay-bottom-left {
  bottom: 0;
}
.c-base-video .vjs-overlay-no-background.vjs-overlay-right,
.c-base-video .vjs-overlay-no-background.vjs-overlay-top-right,
.c-base-video .vjs-overlay-no-background.vjs-overlay-bottom-right {
  right: 0;
  text-align: right;
  text-align: end;
}
.c-base-video .vjs-overlay-no-background.vjs-overlay-left,
.c-base-video .vjs-overlay-no-background.vjs-overlay-top-left,
.c-base-video .vjs-overlay-no-background.vjs-overlay-bottom-left {
  left: 0;
  text-align: left;
  text-align: start;
}
.c-base-video .vjs-overlay-no-background.vjs-overlay-top,
.c-base-video .vjs-overlay-no-background.vjs-overlay-center,
.c-base-video .vjs-overlay-no-background.vjs-overlay-bottom {
  left: 0;
}
.c-base-video .vjs-overlay-background {
  width: auto;
  max-width: 100%;
  margin: 0;
  padding: var(--bolt-spacing-y-xsmall) var(--bolt-spacing-x-xsmall);
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-small);
  color: #151619;
  line-height: var(--bolt-type-line-height-small);
  text-shadow: 0 0 0.25rem white;
  border-radius: 3px;
  box-shadow: inset 0 0 2rem white, 0 0 0.25rem #e0e2eb;
  background-color: rgba(255, 255, 255, 0.9);
}
.c-base-video .vjs-overlay-background.vjs-overlay-top,
.c-base-video .vjs-overlay-background.vjs-overlay-top-right,
.c-base-video .vjs-overlay-background.vjs-overlay-top-left {
  top: 40px;
}
.c-base-video .vjs-overlay-background.vjs-overlay-bottom,
.c-base-video .vjs-overlay-background.vjs-overlay-bottom-right,
.c-base-video .vjs-overlay-background.vjs-overlay-bottom-left {
  bottom: 40px;
}
.c-base-video .vjs-overlay-background.vjs-overlay-right,
.c-base-video .vjs-overlay-background.vjs-overlay-top-right,
.c-base-video .vjs-overlay-background.vjs-overlay-bottom-right {
  right: 9px;
}
.c-base-video .vjs-overlay-background.vjs-overlay-left,
.c-base-video .vjs-overlay-background.vjs-overlay-top-left,
.c-base-video .vjs-overlay-background.vjs-overlay-bottom-left {
  left: 9px;
}
.c-base-video .vjs-overlay-background.vjs-overlay-top,
.c-base-video .vjs-overlay-background.vjs-overlay-bottom {
  left: 50%;
  transform: translateX(-50%);
}
.c-base-video .vjs-overlay-background.vjs-overlay-center {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.c-base-video.vjs-error .vjs-error-display {
  background: #001f5f;
}
.c-base-video.vjs-error .vjs-error-display:before {
  content: "";
  display: none;
}
.c-base-video.vjs-error .vjs-error-display .vjs-modal-dialog-content {
  padding: 0;
}
.c-base-video.vjs-error .vjs-error-display .vjs-errors-dialog {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  border: 0;
  background: 0;
}
.c-base-video.vjs-error .vjs-error-display .vjs-errors-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  top: 50%;
  bottom: 15px;
  transform: translateY(-50%);
  padding: var(--bolt-spacing-y-medium) var(--bolt-spacing-x-medium);
  text-align: center;
}
.c-base-video.vjs-error .vjs-error-display .vjs-errors-headline,
.c-base-video.vjs-error .vjs-error-display .vjs-errors-message,
.c-base-video.vjs-error .vjs-error-display .vjs-errors-ref-id {
  display: block;
  width: 100%;
  color: white;
}
.c-base-video.vjs-error .vjs-error-display .vjs-errors-headline {
  padding-right: 0;
  font-size: var(--bolt-type-font-size-small);
}
@media (min-width: 50em) {
  .c-base-video.vjs-error .vjs-error-display .vjs-errors-headline {
    font-size: var(--bolt-type-font-size-medium);
  }
}
.c-base-video.vjs-error .vjs-error-display .vjs-errors-headline + div {
  font-size: var(--bolt-type-font-size-xsmall);
}
.c-base-video.vjs-error .vjs-error-display .vjs-errors-details {
  margin-top: 4px;
  font-size: 0;
}
.c-base-video.vjs-error .vjs-error-display .vjs-errors-message {
  margin: 0;
  padding: 0;
  font-size: var(--bolt-type-font-size-xsmall);
  border: 0;
  background-color: transparent;
}
.c-base-video.vjs-error .vjs-error-display .vjs-errors-ref-id {
  align-self: flex-start;
}
.c-base-video.vjs-error .vjs-error-display .vjs-errors-ok-button-container {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
}
.c-base-video .video-meta__item {
  display: inline-block;
  opacity: 1;
  position: absolute;
  z-index: 10;
  max-width: calc(100% - (var(--bolt-spacing-x-small)));
  padding: calc(var(--bolt-spacing-x-xsmall) / 2) var(--bolt-spacing-x-xsmall);
  color: white;
  pointer-events: none;
  border-radius: 3px;
  background-color: rgba(21, 22, 25, 0.8);
  transition: opacity ease-in-out 200ms;
}
.c-base-video .video-meta__item.video-meta__item--title {
  top: var(--bolt-spacing-y-xsmall);
  left: var(--bolt-spacing-y-xsmall);
  font-size: var(--bolt-type-font-size-small);
  line-height: var(--bolt-type-line-height-small);
}
.c-base-video .video-meta__item.video-meta__item--duration {
  right: var(--bolt-spacing-y-xsmall);
  bottom: var(--bolt-spacing-y-xsmall);
  font-size: var(--bolt-type-font-size-xsmall);
  line-height: var(--bolt-type-line-height-xsmall);
}
.c-base-video .video-meta__item.is-playing.video-meta__item--title,
.c-base-video .video-meta__item.is-playing.video-meta__item--duration {
  opacity: 0;
}
.c-base-video.vjs-controls-disabled .video-meta__item--title,
.c-base-video.vjs-controls-disabled .video-meta__item--duration {
  opacity: 0;
  pointer-events: none;
}
.c-base-video.vjs-layout-tiny:not(.vjs-fullscreen),
.c-base-video.vjs-layout-x-small:not(.vjs-fullscreen),
.c-base-video.vjs-layout-small:not(.vjs-fullscreen) {
  /* .vjs-time-divider, */ /* .vjs-duration, */ /* .vjs-volume-panel, */ /* .vjs-volume-control, */
}
.c-base-video.vjs-layout-tiny:not(.vjs-fullscreen) .vjs-mute-control,
.c-base-video.vjs-layout-tiny:not(.vjs-fullscreen) .vjs-playback-rate,
.c-base-video.vjs-layout-tiny:not(.vjs-fullscreen) .vjs-current-time,
.c-base-video.vjs-layout-tiny:not(.vjs-fullscreen)
  .vjs-button.vjs-share-control,
.c-base-video.vjs-layout-x-small:not(.vjs-fullscreen) .vjs-mute-control,
.c-base-video.vjs-layout-x-small:not(.vjs-fullscreen) .vjs-playback-rate,
.c-base-video.vjs-layout-x-small:not(.vjs-fullscreen) .vjs-current-time,
.c-base-video.vjs-layout-x-small:not(.vjs-fullscreen)
  .vjs-button.vjs-share-control,
.c-base-video.vjs-layout-small:not(.vjs-fullscreen) .vjs-mute-control,
.c-base-video.vjs-layout-small:not(.vjs-fullscreen) .vjs-playback-rate,
.c-base-video.vjs-layout-small:not(.vjs-fullscreen) .vjs-current-time,
.c-base-video.vjs-layout-small:not(.vjs-fullscreen)
  .vjs-button.vjs-share-control {
  display: flex;
}
.c-base-video.vjs-layout-x-small
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content,
.c-base-video.vjs-layout-small
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content,
.c-base-video.vjs-layout-medium
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content,
.c-base-video.vjs-layout-large
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content,
.c-base-video.vjs-layout-x-large
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content {
  display: flex;
  flex-direction: column;
}
.c-base-video.vjs-layout-x-small
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content
  .vjs-menu-item,
.c-base-video.vjs-layout-small
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content
  .vjs-menu-item,
.c-base-video.vjs-layout-medium
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content
  .vjs-menu-item,
.c-base-video.vjs-layout-large
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content
  .vjs-menu-item,
.c-base-video.vjs-layout-x-large
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content
  .vjs-menu-item {
  margin: 0.25em 0;
  font-size: 1em;
  line-height: 1.2em;
}
.c-base-video.vjs-layout-x-small
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content
  .vjs-menu-item:not(.vjs-subtitles-menu-item):not(.vjs-subtitles-menu-item),
.c-base-video.vjs-layout-small
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content
  .vjs-menu-item:not(.vjs-subtitles-menu-item):not(.vjs-subtitles-menu-item),
.c-base-video.vjs-layout-medium
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content
  .vjs-menu-item:not(.vjs-subtitles-menu-item):not(.vjs-subtitles-menu-item),
.c-base-video.vjs-layout-large
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content
  .vjs-menu-item:not(.vjs-subtitles-menu-item):not(.vjs-subtitles-menu-item),
.c-base-video.vjs-layout-x-large
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content
  .vjs-menu-item:not(.vjs-subtitles-menu-item):not(.vjs-subtitles-menu-item) {
  order: 1;
}
.c-base-video.vjs-layout-x-small
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content,
.c-base-video.vjs-layout-small
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content {
  max-height: 14em;
}
.c-base-video.vjs-layout-medium
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content,
.c-base-video.vjs-layout-large
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content,
.c-base-video.vjs-layout-x-large
  .vjs-menu-button-popup
  .vjs-menu
  .vjs-menu-content {
  max-height: 22em;
}
@media (min-width: 50em) {
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-audio-button,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-captions-button,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-chapters-button,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-current-time,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-descriptions-button,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-duration,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-mute-control,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-playback-rate,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-progress-control,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-remaining-time,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-subs-caps-button,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-subtitles-button,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-time-divider,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-volume-control,
  bolt-accordion-item
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-volume-panel,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-audio-button,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-captions-button,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-chapters-button,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-current-time,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-descriptions-button,
  bolt-tab-panel .video-js.vjs-layout-tiny:not(.vjs-fullscreen) .vjs-duration,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-mute-control,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-playback-rate,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-progress-control,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-remaining-time,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-subs-caps-button,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-subtitles-button,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-time-divider,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-volume-control,
  bolt-tab-panel
    .video-js.vjs-layout-tiny:not(.vjs-fullscreen)
    .vjs-volume-panel {
    display: flex;
  }
}
